:root {
    --triangle-color: #531a82;
    --triangle-bg: #7fffe0;
}

body {
    height: 98vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("./img/irina-iriser-dxk6tMxNkJY-unsplash.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: antiquewhite;
    background-color: #010937;
    overflow: hidden;
}

h1 {
    margin: 1rem;
}

.key-assigment {
    display: flex;
}

.key-layout {
    display: flex;
    width: 22rem;
    font-size: 1.5rem;
    flex-direction: column;
    margin-top: 1rem;
}

h5 {
    margin-left: 0.5rem;
    margin-top: 4px;
    margin-bottom: 4px;
}

.canvas {
    display: block;
    background-size: cover;
    position: relative;
    background-image: url("./img/3. Background/Dark/2.png");
}

.canvas #start-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 14rem;
    transition: width 0.2s;
    cursor: pointer;
}

.canvas #start-button:hover {
    width: 15rem;
}

.canvas #restart-button {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 14rem;
    z-index: 1001;
    transition: width 0.2s;
    cursor: pointer;
}

.canvas #restart-button:hover {
    width: 15rem;
}

.d-none {
    display: none !important;
}

.action-keys {
    display: none;
    justify-content: space-between;
    align-items: center;
    width: min(720px, 100%);
    margin: 1rem;
}

.keys {
    display: grid;
    gap: 1rem;

    grid-template-areas:
        ". up ."
        "left down right";
}

.key-btn {
    background-color: var(--triangle-bg);
    border: 2px solid white;
    border-radius: 1rem;
    padding: 1rem;
}

.keys .key-up {
    grid-area: up;
}
.keys .key-down {
    grid-area: down;
}
.keys .key-left {
    grid-area: left;
}
.keys .key-right {
    grid-area: right;
}

.triangle-up {
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 0 1rem 2rem 1rem;
    border-color: transparent transparent var(--triangle-color) transparent;
}

.triangle-down {
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 2rem 1rem 0 1rem;
    border-color: var(--triangle-color) transparent transparent transparent;
}

.triangle-left {
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 1rem 2rem 1rem 0;
    border-color: transparent var(--triangle-color) transparent transparent;
}

.triangle-right {
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 1rem 0 1rem 2rem;
    border-color: transparent transparent transparent var(--triangle-color);
}

.btn-space {
    background-color: var(--triangle-bg);
    border: 2px solid white;
    font-family: "Mouse Memoirs", sans-serif;
    border-radius: 1rem;
    padding: 1rem;
    margin-right: 10px;
    color: var(--triangle-color);
    font-size: clamp(1.5rem, 1.4rem + 0.5vw, 2rem);
    height: min(4rem, 100%);
}

.btn-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.overlay-win {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 0;
    left: 0;
    background-color: rgba(46, 87, 159, 0.9);
}

.overlay-lose {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: rgba(46, 87, 159, 0.7);
    display: grid;
    place-items: center;
}

.overlay-lose img {
    width: 80%;
}

.overlay-help {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: contain;
    z-index: 1002;
    top: 0;
    background-color: rgba(46, 87, 159, 0.9);
}

@media only screen and (max-width: 720px) {
    canvas {
        width: 100%;
    }

    .action-keys {
        display: flex;
    }
}

@media only screen and (max-height: 480px) {
    canvas {
        height: 100vh;
    }

    h1 {
        position: absolute;
        z-index: 1000;
        top: 0.5rem;
        left: 50%;
        transform: translateX(-50%);
        margin: 0;
    }

    .action-keys {
        display: flex;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        width: auto;
        opacity: 0.6;
        align-items: flex-end;
    }

    .btn-help {
        bottom: auto;
        top: 1rem;
    }
}
